{% extends 'Client.html.twig' %}

{% block body %}
    {{ user.username }}
    <a href="{{ path('panier_achat') }}" class="btn btn-warning">Panier ({{ achat.quantite }})</a>
    <div class="container">
        <div class="row">
            {%  for p in products %}
                <div class="col-xs-6 col-md-4 top-margin">
                    <div class="card" style="width: 18rem;">
                        <img class="card-img-top" src="{{ asset('client/images/c2.jpg') }}" alt="Card image cap">
                        <div class="card-body">

                            <p class="card-text"><h3>{{ p.productName }}</h3>
                            <h6>{{ p.priceTTC }}</h6>
                            </p>
                            <a href="{{ path('add_achat',{'id':p.id}) }}" class="card-link btn btn-primary">Au panier</a>
                            <a href="{{ path('index_achat_show',{'id':p.id}) }}" class="card-link btn btn-success">Details</a>
                        </div>
                    </div>


                </div>
            {% endfor %}
        </div>

    </div>

{% endblock %}
